<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New China Real</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">Features</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Restaurant-Bar</h1>
    <h1>NEW CHINA S.R.L</h1>

    

    <nav>
        <a href="about">Waka</a>
        <a>Waka</a>
        <a>Mamamalo</a>
        <a>MMMMMM</a>
        <a>Que Coño</a>
    </nav>
    <div class="container"; style="margin: 0px 200px; padding: 40px;">
            {% block content %}
            {% endblock %}
    </div>


</body>

</html>